.navbar {
  background-color: #333;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  color: #fff;
  display: flex;
  justify-content: space-between; /* Align children at both ends of the flex container */
  align-items: center;
  margin-bottom: 2%;
}

.navbar-logo {
  height: 60px; /* Adjust the height as needed */
  margin-right: 10px; /* Adjust the margin as needed */
}

.navbar h1 {
  margin: 0;
  font-size: 150;
  font-weight: bold;
  font-family: Helvetica, arial;
  
  
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.add-button {
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}
